<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"> 
    <strong>Message:<strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>  
    {% endfor %}

    <h1>Acyl Alien</h1>

    {% if user.is_authenticated %}
    <h2> Hello {{ fname }}</h2>
    <h3>You're successfully logged in.</h3>
    <button type="submit"><a href="/signout"> SignOut</a></button>
    {% else %}
    <button type="submit"> <a href="/signup"> SignUp</a></button>
    <button type="submit"><a href="/signin"> SignIn</a></button>
    {% endif%}
    
    <script scrc="" async defer>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- sample comment -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Innodata</h1>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" placeholder="Username">
			<br>
			<input type="password" placeholder="Password">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>
			
			<br>
			<button>Login</button>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>