<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="container">
            <form action="/signin" method="post">
            {% csrf_token %}
                <div class="box">
                    <label class="fl fontLabel">Username</label>
                        <div class="new iconBox">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="fr">
                            <input class="textBox" type="text" id="username" name="username" placeholder="Enter your username" Required>
                        </div>
                        <div class="clr"></div>
                    <br><br>
                </div>

                <div class="box">
                    <label class="fl fontLabel">Password</label>
                    <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
    			    <div class="fr">
                        <input class="textBox" type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
                    </div>
                    <br><br>
                </div>

                <div class="box" style="background: #2d3e3f">
                    <button class="submit" type="submit">Sign In</button>
                </div>

            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>